.accordion {
  width: 100%;
}

.accordion-summary {
  background-color: #efefef;
}

.history-image-container {
  display: flex;
  img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
}