.utils-color-white {
  color: #fff !important;
}

.utils-margin-bottom-10 {
  margin-bottom: 10px;
}

.utils-margin-bottom-20 {
  margin-bottom: 20px;
}

.utils-margin-bottom-30 {
  margin-bottom: 30px;
}

.utils-margin-bottom-40 {
  margin-bottom: 40px;
}

.utils-width-80 {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 20px 70px 20px;
  min-height: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}