.utils-color-white {
  color: #fff !important;
}

.utils-float-left {
  float: left;
}

.utils-float-right {
  float: right;
}

.utils-margin-bottom-10 {
  margin-bottom: 10px;
}

.utils-margin-bottom-20 {
  margin-bottom: 20px;
}

.utils-margin-bottom-30 {
  margin-bottom: 30px;
}

.utils-margin-bottom-40 {
  margin-bottom: 40px;
}

.utils-width-80-percent {
  width: 80%;
}